/*
This Site is developed By
Name: Rahul Gupta
Contact : 8581843939
Website: rahulkrgupta.netlify.app
*/
/* Table styles */
body{
  overflow-x:hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
  }

  thead th {
    color: white;
    background-color: black;
  }

  /* Responsive table */
  /* @media (max-width: 768px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr {
      margin-bottom: 15px;
    }

    td {
      position: relative;
      padding-left: 50%;
      border-bottom: 1px solid black;
    }

    td:before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      width: calc(50% - 15px);
      white-space: nowrap;
      font-weight: bold;
    }

    td label,
    td select,
    td input {
      width: 100%;
      margin-top: 5px;
    }
  } */

  /* Label for scoring */
  label[for^="id_Scoring"] {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
  }

  /* Form styling */
  form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Ensures the dropdown takes full width on smaller screens */
  .form-control {
    width: 100%;
    /* Make the dropdown take up full width */
    max-width: 1000px;
    /* Max width for large screens */
    margin: 0 auto;
    /* Center the input on the page */
    padding: 8px;
    /* Add some padding for better readability */
    box-sizing: border-box;
    /* Include padding in width calculation */
  }

  .error-message {
    color: red;
    font-size: 14px;
    /* Adjust size as needed */
  }

  .errorlist {
    list-style-type: none;
    padding-left: 0;
  }

  /* Updated styling for the header and footer */
  .header {
    background: linear-gradient(90deg, #4CAF50, #2F80ED);
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
  }

  .header a.new-record {
    color: white;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
    padding: 8px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .header a.new-record:hover {
    background-color: white;
    color: #4CAF50;
    text-decoration: none;
  }

  .footer {
    background-color: #1A1A1A;
    color: #CCCCCC;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }

  .footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer a:hover {
    color: #2F80ED;
    text-decoration: underline;
  }


  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
  }

  .table>thead>tr>th {
    border-bottom: 2px solid #f4f4f4;
  }

  .table tr td .progress {
    margin-top: 5px;
  }

  .table th,
  .table thead th {
    font-weight: 500;
  }

  .contacts-list-name,
  .direct-chat-name {
    font-weight: 600;
  }

  .table-bordered,
  .table-bordered>tbody>tr>td,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>td,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>thead>tr>th {
    border: 1px solid #f4f4f4;
  }

  .table-bordered>thead>tr>td,
  .table-bordered>thead>tr>th {
    border-bottom-width: 2px;
  }

  .table.no-border,
  .table.no-border td,
  .table.no-border th {
    border: 0;
  }

  .table.align th {
    text-align: left;
  }

  .table.align td {
    text-align: right;
  }

  .dataTables_info,
  .dataTables_length,
  .dt-buttons {
    display: inline-block;
    padding-top: 5px;
  }

  .dt-buttons {
    margin-bottom: 10px;
  }

  .dt-buttons .dt-button {
    padding: 5px 15px;
    border-radius: 0;
    background: #0f1838;
    color: #fff;
    margin-right: 3px;
    display: inline-block;
  }

  .dt-buttons .dt-button:hover {
    background: #2f3d4a;
  }

  .dataTables_filter {
    float: right;
    padding-top: 5px;
  }

  .dataTables_filter input {
    border: 1px solid #d9d9d9;
    width: unset;
    padding: unset;
    border-radius: unset;
    height: 24px;
    margin: 10px 5px;
  }

  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
  }

  table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
  }

  table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
  }

  table.dataTable thead .sorting:after {
    content: "\f0dc";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
    color: rgba(50, 50, 50, .5);
  }

  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: .25em;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #67757c;
    border: 1px solid transparent;
    border-radius: 2px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    border: 1px solid #0f1838;
    background-color: #0f1838;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    cursor: not-allowed;
    color: #67757c;
    border: 1px solid transparent;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff;
    border: 1px solid #0f1838;
    background-color: #0f1838;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: 0;
    background-color: #67757c;
  }

  .dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
  }

  .tablesaw-bar .btn-group label {
    color: #67757c;
  }

  .dt-bootstrap {
    display: block;
  }

  .paging_simple_numbers .pagination .paginate_button {
    padding: 0;
    background: #fff;
  }

  .paging_simple_numbers .pagination .paginate_button:hover {
    background: #fff;
  }

  .paging_simple_numbers .pagination .paginate_button a {
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
  }

  .paging_simple_numbers .pagination .paginate_button.active a,
  .paging_simple_numbers .pagination .paginate_button:hover a {
    background: #0092ee;
    color: #fff;
  }

  .footable .pagination {
    display: inline-block;
    padding: 8px 0;
  }

  .footable .pagination li {
    padding: 0;
    margin: 0 1px;
    display: inline-block;
  }

  .footable .pagination li a {
    padding: 5px 10px;
  }

  .footable .pagination li a.active,
  .footable .pagination li a:hover {
    background: #0092ee;
    color: #fff;
    border-radius: 4px;
  }

  .footable .pagination li.active a {
    color: #fff;
    border-radius: 4px;
  }

  .label-default {
    background-color: #d2d6de;
    color: #444;
  }
  select[name="example1_length"]{
    width: 50% !important;
  }
  select[name="example2_length"]{
    width: 50% !important;
  }
  select[name="example3_length"]{
    width: 50% !important;
  }
  select[name="example4_length"]{
    width: 50% !important;
  }

  @media screen and (max-width: 767px) {

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        white-space: nowrap;
    }


    #example1_paginate{
      display:contents;
    }

    #example1_info{
      display: block;
    }


  }

